.add-product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.product-card {
    height: 320px;
    width: 300px;
    border: 2px solid rgb(42, 42, 42);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(20, 20, 21);
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

.product-card img {
    height: 150px;
    width: 150px;
}




.image-container {
    justify-content: center;
    align-items: center;

}

.image-container img {
    height: 20px;
    width: 30px;
}